.wizard-content .wizard>.steps>ul>li.current .step {
	border-color: #009efb ;
	background-color: #fff;
	color: #009efb
}

.wizard-content .wizard.wizard-circle>.steps .step {
	width: 50px;
	height: 50px;
	line-height: 45px;
	border: 3px solid #F3F3F3;
	font-size: 1.3rem;
	border-radius: 50%
}

.wizard-content .wizard>.steps .step {
	background-color: #fff;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -24px;
	z-index: 10;
	text-align: center
}

.wizard-content .wizard>.steps>ul>li.current>a {
	color: #2f3d4a;
	cursor: default
}

.wizard-content .wizard>.steps>ul>li {
	display: table-cell;
	width: auto;
	vertical-align: top;
	text-align: center;
	position: relative
}

.wizard-content .wizard>.steps>ul {
	display: table;
	width: 100%;
	table-layout: fixed;
	margin: 0;
	padding: 0;
	list-style: none
}